html, body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla';
    margin: 0;
}

/* Top */

h1 {
    color: hsl(179, 62%, 43%);
}
.card {
    
    display: grid;
    
    margin: 5rem 18rem;
}

.top {
    background-color: white;
    padding: 2rem;
    
}

.top-paragraph {
    color: hsl(218, 22%, 67%);
}

.thirty-day-offer {
    color: hsl(71, 73%, 54%);
}

.bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Bottom Left */

.bottom-left {
    background-color: hsl(179, 62%, 43%);
    padding: 1rem;
}

.bottom-left-title {
    color: white;
}

.bottom-left-text {
    color: hsl(204, 43%, 93%);
}

.price {
    color: hsl(204, 43%, 93%);
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.per-month {
    color: hsl(204, 43%, 93%);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
}
.sign-up-button {
    border-style: none;
    background-color: hsl(71, 73%, 54%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    color: hsl(204, 43%, 93%);
    cursor: pointer;
    font-family: 'Karla';
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

/* Bottom Right */

.bottom-right {
    background-color: #4ABEBD;
    padding-top: 1rem;
    padding-left: 2rem;
    
    
}

.bottom-right-title {
    color: white;
}

.bottom-right-text {
    color: hsl(204, 43%, 93%);
    margin-bottom: 0;
    margin-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .card {
    
        
        margin: 3rem 8rem;
    }
}

@media only screen and (max-width: 550px) {
    .card {
    
        
        margin: 3rem 1rem;
    }

    .bottom-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .bottom-right {
        padding-bottom: 2rem;
    }
    
    
}